* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	font-family: sans-serif;
	height: 100vh;
	background-color: darkgrey;
	/* text-align: center; */
	/* display: flex;
	flex-direction: column;
	text-align: center;
	gap: 10px; */
	padding-top: 40px;
}
ul li{
	width: 100px;
	font-size: 38px;
	color: white;
	list-style: none;
	margin: 0 auto;
}