* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	height: 100vh;
	background-color: darkgrey;
	color: white;
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 10px;
	padding-top: 40px;
}