*{
	padding: 0;
	margin: 0;
}
.wrap {
	font-size: 35px;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
}
.collapse{
	width: 550px;
	height: 400px;
	text-align: center;
	padding-top: 20px;
	box-sizing: border-box;
} 
.alpha{
	background-color: gray;
} 
.beta{
	margin: 30px;
 } 
 .beta h1{
	margin-bottom: 30px;
 }