* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
	font-family: sans-serif;
	font-size: 20px;
	padding: 100px;
}
.user-box{
	margin-bottom: 40px;
	width: 230px;
}
.user-box p{
	margin-bottom: 10px;
}
