* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	height: 100vh;
	background-color: darkgrey;
	font-size: 28px;
	color: white;
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 30px;
	padding-top: 100px;
}