* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	height: 100vh;
	background-color: darkgrey;
	color: white;
	display: grid;
	font-size: 18px;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	padding: 40px 200px;
}